<!-- 
 * Name : Arewa (Morountudun) Ojelade
 * Date : 3/4/2025
 * File Name: addIncome.ejs
 * Course : CMSC 495 Capstone in Computer Science
 * Project : Budgetier Capstone Project
 * Description : The purpose of the addIncome.ejs file is to display
 * execute appropriate logic in accordance with passed locals to 
 * add an income transaction object.
-->
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1><%= info.name%></h1>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <a href="/addExpense" class = "btn btn-sm btn-outline-secondary">
                Add Expense
            </a>
        </div>
    </div>
</div>

<div class="col py-3">
    <div class="row">
        <div class="col">
        </div>
        <div class="col text-end fw-lighter">
            <b>Transaction ID</b>
        </div>
        

        <form action = "/addIncome" method = "POST" style = "padding-left: 50px;">
            <%- include('./addForm.ejs') %>
        </form>
         
    </div>
</div>